<div class="animated fadeIn">
  <div class="row" *ngFor="let levels of carParking; let levelIndex = index">
    <div *ngFor="let parking of levels; let parkIndex = index">
      <h6>
        <span class="badge badge-primary"
          >L:{{ levelIndex + 1 }} P:{{ parkIndex + 1 }}</span
        >
      </h6>

      <button
        *ngIf="parking == true"
        type="button"
        class="btn btn btn-outline-success"
        disabled
        style="width: 50px;height: 50px;"
      >
        Free
      </button>
      <button
        *ngIf="parking == false"
        type="button"
        class="btn btn-danger"
        (click)="freeParking(levelIndex, parkIndex)"
        style="width: 50px;height: 50px;"
      >
        Occ
      </button>
    </div>
    <br />
    <br />
  </div>
  <br /><br /><br />
  <button
    type="button"
    class="btn btn-dark"
    (click)="assignParking()"
    style="width: 150px;height: 50px;"
    *ngIf="parkingFull == false"
  >
    <h2>Assign</h2>
  </button>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="assignParking()"
    style="width: 150px;height: 50px;"
    *ngIf="parkingFull == true"
    disabled
  >
    <h2>Full</h2>
  </button>
  <p>L = Level, P= Parking</p>
</div>
